target/
**/__pycache__/
**/*.pyc
.venv/
venv/
.env
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
/data/
*.log
.idea/
.vscode/
node_modules/
grafana/data/
prometheus/data/
.DS_Store
coverage.xml
htmlcov/
